/*Styles
Imported fonts
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

Colors
midnight-blue: #1F2A44;
olive-green: #76885B;
champagne-gold: #E5C185;
linen: #F8F4EC;
dark-charcoal: #2B2B2B;
soft-white: #FAF9F6;

Font
Playfair Display*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   /* max-width: 1200px;*/
}

body{
    font-family: 'Playfair Display';
    line-height: 1.6;
    color: #2B2B2B;
    background-color: #F8F4EC;
    max-width: 1200px;
    margin: 0 auto;
}

main, header, footer, nav{
    
    margin: 0 auto;
    
}

header{
    background-color: #1F2A44;
    color: #FAF9F6;
    text-align: center;
    padding: 20px 20px;
    margin-bottom: 0;
}

header img{
    max-width: 150px;
}
header .center{
    display: block;
    margin: 0 auto 0;
}

header h1{
    font-size: 3.2rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 10px;
}

header p{
    font-style: italic;
    color: #FAF9F6;
    margin-bottom: 0;
}

nav{
    max-width: 1200px;
    width: 100%;
    background-color: #E5C185;
    margin-top: 0;
    padding: 7px 0;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;     
    gap: 50px;
    font-weight: bold;
    font-size: 1.2rem;
}

nav ul li a{
    text-decoration: none;
    color: #1F2A44;
}

nav ul li{
    display: inline;
}

section{
    padding: 40px 20px;

}

h2{
    color: #1F2A44;
    margin-bottom: 20px;
    
}

#artisan{
    background-color: #76885B;
    color:#FAF9F6;
    border-radius: 15px; 
    padding: 15px;
}

#exclusive{
    background-color: #76885B;
    color:#FAF9F6;
    border-radius: 15px;
    margin-top: 15px;
    padding: 15px;
}

#thefield{
    background-color: #76885B;
    color:#FAF9F6;
    border-radius: 15px;
    margin-top: 15px;
    padding: 15px;
}

#thefield ul{
    padding-left: 19px;
}
#gallery img{
    /*width: 100%;*/
    height: auto;
    border-radius: 8px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    
    border: none;
    background: #F8F4EC;
    box-shadow: 1px 5px 10px #2B2B2B;
    padding-bottom: 40px;
    padding-top: 0;
    padding-inline: 0;
    display: inline-block;
    position: relative;
}
 #gallery img ::after{
    display: block;
    text-align: center;
    font-style: italic;
    color:#2B2B2B;
 }

 .tomatoes .olives .basket .chef .table{
    max-width: 100%;
    margin: 0 auto;
 }

 figcaption{
    font-style: italic;
    text-align: center;
    margin-top: 10px;
 }

/*.tomatoes::after {
    content: "Heirloom tomatoes at peak ripeness";
    display: block;
    text-align: center;
    color: #2B2B2B;
    font-size: 1rem;
    margin-top: 0.5em;}*/


button{
    margin-top: 20px;
    color: #FAF9F6;
    border-radius: 5px;
    background-color: #76885B;
    width: 100%;
    padding: 15px;
    font-weight: bold;
    box-shadow: none;
    font-family: 'Playfair Display';
    border: none;
}

footer{
    background-color: #1F2A44;
    
    text-align: center;
    padding: 40px 20px;
    margin-bottom: 0;
}

footer address{
    color: #FAF9F6;
    font-style: normal;
}
 footer a{
    color: #E5C185;
    text-decoration: none;
    padding-top: 40px;
    
 }
 @media (min-width: 600px) {

 }

 @media (min-width: 900px) {
    
 }

 @media (min-width: 1200px) {
    
 }